<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysWaterMapper">

    <resultMap type="SysWater" id="SysWaterResult">
        <result property="waterId"    column="water_id"    />
        <result property="waterName"    column="water_name"    />
        <result property="ph"    column="ph"    />
        <result property="ddo"    column="ddo"    />
        <result property="pv"    column="pv"    />
        <result property="cod"    column="cod"    />
        <result property="bod"    column="bod"    />
        <result property="nhn"    column="nhn"    />
        <result property="p"    column="p"    />
        <result property="n"    column="n"    />
        <result property="cu"    column="cu"    />
        <result property="zn"    column="zn"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="rk"    column="rk"    />
    </resultMap>

    <sql id="selectSysWaterVo">
        select water_id, water_name, ph, ddo, pv, cod, bod, nhn, p, n, cu, zn, del_flag, create_by, create_time, update_by, update_time, rk from sys_water
    </sql>

    <select id="selectSysWaterList" parameterType="SysWater" resultMap="SysWaterResult">
        <include refid="selectSysWaterVo"/>
        <where>
            <if test="waterName != null  and waterName != ''"> and water_name like concat('%', #{waterName}, '%')</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="rk != null  and rk != ''"> and rk like concat('%', #{rk}, '%')</if>
        </where>
    </select>

    <select id="selectSysWaterByWaterId" parameterType="Long" resultMap="SysWaterResult">
        <include refid="selectSysWaterVo"/>
        where water_id = #{waterId}
    </select>

    <insert id="insertSysWater" parameterType="SysWater" useGeneratedKeys="true" keyProperty="waterId">
        insert into sys_water
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="waterName != null and waterName != ''">water_name,</if>
            <if test="ph != null">ph,</if>
            <if test="ddo != null">ddo,</if>
            <if test="pv != null">pv,</if>
            <if test="cod != null">cod,</if>
            <if test="bod != null">bod,</if>
            <if test="nhn != null">nhn,</if>
            <if test="p != null">p,</if>
            <if test="n != null">n,</if>
            <if test="cu != null">cu,</if>
            <if test="zn != null">zn,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="rk != null and rk != ''">rk,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="waterName != null and waterName != ''">#{waterName},</if>
            <if test="ph != null">#{ph},</if>
            <if test="ddo != null">#{ddo},</if>
            <if test="pv != null">#{pv},</if>
            <if test="cod != null">#{cod},</if>
            <if test="bod != null">#{bod},</if>
            <if test="nhn != null">#{nhn},</if>
            <if test="p != null">#{p},</if>
            <if test="n != null">#{n},</if>
            <if test="cu != null">#{cu},</if>
            <if test="zn != null">#{zn},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="rk != null and rk != ''">#{rk},</if>
        </trim>
    </insert>

    <update id="updateSysWater" parameterType="SysWater">
        update sys_water
        <trim prefix="SET" suffixOverrides=",">
            <if test="waterName != null and waterName != ''">water_name = #{waterName},</if>
            <if test="ph != null">ph = #{ph},</if>
            <if test="ddo != null">ddo = #{ddo},</if>
            <if test="pv != null">pv = #{pv},</if>
            <if test="cod != null">cod = #{cod},</if>
            <if test="bod != null">bod = #{bod},</if>
            <if test="nhn != null">nhn = #{nhn},</if>
            <if test="p != null">p = #{p},</if>
            <if test="n != null">n = #{n},</if>
            <if test="cu != null">cu = #{cu},</if>
            <if test="zn != null">zn = #{zn},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="rk != null and rk != ''">rk = #{rk},</if>
        </trim>
        where water_id = #{waterId}
    </update>

    <delete id="deleteSysWaterByWaterId" parameterType="Long">
        delete from sys_water where water_id = #{waterId}
    </delete>

    <delete id="deleteSysWaterByWaterIds" parameterType="String">
        delete from sys_water where water_id in
        <foreach item="waterId" collection="array" open="(" separator="," close=")">
            #{waterId}
        </foreach>
    </delete>
</mapper>
